astropy==6.0.1
corner==2.2.1
h5py
healpy
jax==0.4.30
matplotlib==3.8.4
myst-parser
numpy
numpyro==0.15.3
pytest
PyYAML==6.0.2
ruamel.yaml==0.18.10
scipy==1.13.1
nessai
healpy
eryn
pywavelet==0.2.7  # 0.2.8+ imports astropy APIs newer than the astropy pin above
